
{{#if isLoggedIn}}

  {{!-- {{#if error}}
      {{> message}}
      {{else}}
      {{/if}} --}}

    <div class="container">
      
       {{> course}}
      

    </div>

    {{else}}
     <div class="container">
        
        {{!-- {{#if error}}
      {{> message}}
      {{else}}
      {{/if}} --}}
        
    {{> course}}
        
      

    </div>
    {{/if}}
